<main id="page-container">
  <header class="row">
    <div class="col-12 text-center text-uppercase">
      <h1>Criação de Produto</h1>
    </div>
  </header>

  <section class="row d-lg-block">
    <form
      id="form"
      class="col-12"
      [formGroup]="formGroup"
      (submit)="onSubmit($event)"
    >
      <div class="row">
        <mat-form-field class="col-12">
          <mat-label>Nome</mat-label>

          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field class="col-12">
          <mat-label>Preço</mat-label>

          <input matInput formControlName="value" />
        </mat-form-field>

        <div class="col-2">
          <mat-slide-toggle formControlName="hasStock">
            Tem estoque?
          </mat-slide-toggle>
        </div>

        <div class="col-2">
          <mat-slide-toggle formControlName="blocked">
            Bloqueado?
          </mat-slide-toggle>
        </div>

        <div class="col-2">
          <mat-slide-toggle formControlName="custom">
            Personalizado?
          </mat-slide-toggle>
        </div>

        <mat-form-field class="col-6">
          <mat-label>Endereço da Imagem</mat-label>

          <input matInput formControlName="imageUrl" />
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option
              *ngFor="let category of categorys"
              [value]="category.id"
            >
              {{ category.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-6">
          <mat-label>Ingredients</mat-label>
          <mat-select formControlName="ingredientsIds" multiple>
            <mat-option
              *ngFor="let ingredient of ingredients"
              [value]="ingredient.id"
              >{{ ingredient.description }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </section>

  <footer class="row flex-column-reverse flex-sm-row">
    <div class="col-12 col-sm-6">
      <button
        class="w-100"
        mat-stroked-button
        color="primary"
        type="button"
        (click)="navigateToIngredientsListPage()"
      >
        Voltar
      </button>
    </div>

    <div class="col-12 col-sm-6">
      <button
        class="w-100"
        mat-raised-button
        color="primary"
        type="submit"
        form="form"
        [disabled]="isLoading"
      >
        Criar
      </button>
    </div>
  </footer>
</main>
